body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 20px;
}

header {
    text-align: left;
    padding-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin: 0;
}

#bio, #resume, #blog, #projects {
    text-align: left;
    padding-bottom: 20px;
}

#bio p, #resume dl, #blog p, #blog ul, #projects p, #projects ul {
    margin: 0;
    padding: 0;
}

#resume h2, #blog h2, #projects h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#resume dl {
    margin-top: 10px;
}

#resume dt {
    font-weight: bold;
    margin-top: 10px;
}

#resume dd {
    margin-left: 20px;
    margin-bottom: 10px;
}

#blog ul, #projects ul {
    list-style-type: none;
    padding: 0;
}

#blog li, #projects li {
    margin: 10px 0;
}

#blog a, #projects a {
    color: #000;
    text-decoration: underline;
}

#blog a:hover, #projects a:hover {
    text-decoration: underline;
}

.project-description {
    margin-left: 20px;
    font-size: 0.9em;
    color: #555;
}

/* Responsive Design */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    #resume h2, #blog h2, #projects h2 {
        font-size: 1.2em;
    }

    #resume dd {
        margin-left: 10px;
    }

    #blog li, #projects li {
        margin: 5px 0;
    }

    #blog, #projects {
        padding-bottom: 10px; /* Add extra padding at the bottom for negative space */
    }
}
